body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}
header{
    background-color: goldenrod;
    padding: 15px 0px;
}
nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color:blue;
    padding:10px;
}
nav a:hover{
    background-color: purple;
    border-radius: 5px;   
}
#hero{
    background-image: url('../images/hero.jpeg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color:purple;
    height: 250px;
}
#hero h1{
    font-size: 54px;
}
#hero p{
    font-size:18px;
    color:blue;
}
#hero a{
    background-color:goldenrod;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color:purple;

}
main{
    width:90%;
    margin:30px auto;
}
section{
    background-color: white;
    box-shadow: 0px 2px 5px goldenrod;
    padding: 20px;
    margin-bottom: 20px;
}
 h2{
    color:purple;
    text-align: center;
}
#allservices{
    display: flex;
    gap:20px
}
.service{
    border: 1px solid grey;
    border-radius: 5px;
    flex:1 1 250px;
    text-align: center;
    background-color: lightgray;
}
.service img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#contact{
   max-width: 800px;
   margin: 40px auto;
}
form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
form input,
form textarea{
    width: 100%;
    border:1px solid goldenrod;
    border-radius: 5px;
    margin-bottom: 10px;
}
form textarea{
    height: 100px;
}
form button{
    background-color: goldenrod;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    cursor:pointer;
    color:purple;
    width: 100%;

}
footer{
    background-color: goldenrod;
    text-align: center;
    padding:15px;
}